@mixin flex(
  $direction: row,
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $alignContent: stretch,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  align-content: $alignContent;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin flexCenter($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin svgStyle($size: 24px, $color: #000, $fill: $color, $stroke: $color) {
  @include flexCenter();

  fill: $fill;
  color: $color;
  font-size: $size;

  path {
    stroke: $stroke;
  }
}

@mixin positioned(
  $position: absolute,
  $top: auto,
  $left: auto,
  $bottom: auto,
  $right: auto,
  $zIndex: 1
) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  z-index: $zIndex;
}

@mixin centerPositioned(
  $position: absolute,
  $top: 50%,
  $left: 50%,
  $zIndex: 1
) {
  position: $position;
  top: $top;
  left: $left;
  z-index: $zIndex;
  transform: translate(-50%, -50%);
}

// $type options: `thin` | `none`
// $onlyOnHover options: `1` | `0`
@mixin useScroll($type: thin, $onlyOnHover: 0) {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;

    @if ($type == none) {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    @if ($onlyOnHover == 1) {
      background: transparent;
    }
    @if ($onlyOnHover == 0) {
      background: #fff;
    }
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #fff;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
  }

  &:hover::-webkit-scrollbar-track {
    background: #000;
  }
}

// 限制文本显示的行数
@mixin maxRow($row: 1, $overflowStyle: ellipsis) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: $overflowStyle;
  word-wrap: break-word;
  // 限定显示的行数
  -webkit-line-clamp: $row;
  // 兼容标准属性
  line-clamp: $row;
}
