/**
 * 重置 CSS 基本样式
 */

* {
  /* 用户选择 */
  user-select: none;
  /* 丝滑滚动 */
  scroll-behavior: smooth;
  /* 移除间距 */
  margin: 0;
  padding: 0;
  /* 盒模型 */
  box-sizing: border-box;

  /* 全局字体 */
  font-family: "Ubuntu Mono", "ZCOOL KuaiLe", monospace, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-display: swap;
  color: var(--c-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  /* 移动端 click 事件 触发的 :active 背景色 变更 */
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

#resource {
  display: none;
}

img {
  pointer-events: none;
}
